<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/style1.css">
    <title>V'Messenger</title>
  </head>
  <body style = "background-color: white;"> 
     <h5 class = "ml-2 mt-2">V'Messenger</h5>
    <div id = "header">  
      <div   class = "row ml-5 mr-5 mt-5 pt-4 pb-4">
      <div  class = "container-fluid border border-primary mt-3">
       <h4 class = "pt-3 pb-3" style = "text-align : center;">
           Hey , Welcome to V'Messenger. <br><br>
           Connect wih your friends in faster way
       </h4>
     </div>
     </div>
    <div  style = "text-align: center;" class  = "row ml-5 mr-5 mb-5">
     <div  id = "buttons" class = "col-12 col-sm-6">
    
    <a style = "background-color: #ADD8E6; color : black;" href = "/verify" class="btn btn-primary btn-sm mr-2 mb-3">Sign up</a>
    
    <a  style = "background-color: #ADD8E6; color : black;"href ="/login" class="btn btn-primary btn-sm mr-2 mb-3">Already have an account ?</a>
     
     </div>
     </div>

     <div  class = "row mr-2">
      <div class = "col-lg-12 col-xs-6 col-sm-6 col-md-6 ml-5 mr-3">
      <!--- <img style = "max-width: 300px;" src="https://cnet2.cbsistatic.com/img/kIbpaeeo0oJp5B59YKUGNYo3QaA=/940x0/2020/05/18/2d39045b-ac0e-44ec-9dd7-57d830539c69/screenshot-20200518-104704-facebook.jpg" class="img-fluid ml-5 mr-5 pl-5 mb-3" alt="Responsive image">
      -->
    
        <img id = "avatar"  src="https://i.pinimg.com/originals/92/91/e0/9291e0bdfd53b4ccececc32274b973fa.png" class="img-fluid ml-5 mr-5 pl-2 mb-3 pr-2" alt="Responsive image">
   

        <img id = "avatar"  src="https://media.istockphoto.com/vectors/social-media-networking-chatting-texting-communication-online-vector-id916408164?k=6&m=916408164&s=170667a&w=0&h=55l2RN5WgzpePkLFPYbR8tr0f9yDUYM4gSnU3a32VXc=" class="img-fluid ml-5 mr-5 pl-2 mb-3 pr-2" alt="Responsive image">

      <img id = "avatar"  src="https://image.freepik.com/free-vector/girls-friends-with-chat-bubble-message_24877-53850.jpg" class="img-fluid ml-5 mr-5 pl-2 mb-3 pr-2" alt="Responsive image">
    </div>

</div>
</div>

<div id = "foooter" class = "footer mt-5">
  <div class = "container-fluid">

  <div class = "row d-flex justify-content-around pt-4">
      <div class = "col-lg-2 col-sm-6 ml-1  mr-1 mb-3">
        <p id = "abc" style = "color : white;">Powered By :</p>
        <h4  style = "color : white;">&#60;/Varun</h4>
      <a  id = "abc" style = "color : white; font-size : 20px;" href = "#"><p>Click to Know more about developer</p></a>
      </div>
    
      <div class = "col-lg-8   col-sm-6 ml-2 list_items">
        <h3 style = "color : white; font-weight : bold;" class = "pb-4">V'Messenger</h3>
        <div class="d-flex justify-content-around"></div>
          <ul>
          <li class = "pb-3">About us</li>
          <li class = "pb-3">Blogs</li>
          <li class = "pb-3">Privacy Policy</li>
          <li class = "pb-3">Terms and Condition</li>
        </ul>
        </div>
       </div>
    </div>
  </div>
</div>

      


    

   


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    
  </body>
</html>